.openerp .oe_view_manager .oe_view_manager_switch .oe_vm_switch_baidumap:after {
  content: "0";
}

.openerp .oe_baidumap {
    height: 100%;
    min-height: 800px
}

.openerp .oe_view_manager_view_baidumap {
  position: relative;
  width:100%;
  min-height: 800px;
}

#editor-render-body {
    position: relative;
    width: 650px;
    height: 350px;
}
